logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/target
/*/target
/frontend/dist
/*/node_modules
/project/project/target/*
*.iml
.idea
.project
/*/.project
.classpath
/*/.classpath
.settings
/*/.settings
*-db.h2.db
*-db.lock.db
Thumbs.db
*.sublime-project
*.sublime-workspace

